#logo {
    position: fixed;
    top: 35px;
    left: 15px;
    z-index: 50;
    margin-right: 1200px;
    margin-left: 35px;
    width: fit-content;
    font-family: "Limelight", cursive;
    font-size: 33px;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 6px solid black;
    box-shadow: 10px 10px black, -0.5em 0 0.4em #00FA9A;
}

#navbar {
    position: fixed;
    top: 65px;
    z-index: 49;

    background-color: white;
    border-bottom: 5px solid black;
    border-top: 4px solid black;
}

a {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
}

.map{
    position: absolute;
    left: 40px;
    top: 260px;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 16px;
    margin-bottom: 16px;
    resize: both;
}

input[type=submit] {
    background-color: #38c489;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border: 6px solid black;
    position: fixed;
    left: 500px;
    bottom: 200px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

#navbar2 {
    position: fixed;
    z-index: 48;
    height: 75px;
    background-color: #7B68EE;
}

